---
---

@import "{{ site.theme }}";
.sidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    padding-top: 20px;
    margin-right: 30px; 
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}
